<a class="product" href="/product/<%=_id%>">
  <img loading="lazy" class="product-image" src="<%=images[0]%>" />
  <div class="product-title"><%=details.title%></div>
  <div class="product-description">
    <span class="offer">₹<%=pricing.discountPrice%></span>
    <span class="amount">₹<%=pricing.basePrice%></span>
    <!-- <span class="discount">40% off</span> -->
  </div>
</a>
