<%-layout("/layouts/boilerplate.ejs")%>



  <body>
    <!-- Product Section -->
    <section class="product-section">
      <!-- Sidebar Thumbnails -->
      <div class="sidebar-thumbnails">
        <%for(image of product.images){%>
          <img src="<%=image%>" />
        <%}%>
      </div>
      <!-- Main Image -->
      <div class="main-image">
        <img src="<%=product.images[0]%>" />
        <div>
          <button class="button-primary">Make Deal</button>
          <button class="button-secondary">Chat With Seller</button>
        </div>
      </div>
      <!-- Details -->
      <div class="product-details">
        <div class="product-heading">
        <h2><%=product.details.title%></h2>
        <p>Brand: <span style="color: #1d4ed8;">Logitech</span></p>
        </div>
        <div class="product-price">
          <span class="line-through">MRP: <%=product.pricing.basePrice%></span>
          <span class="deal-price">Deal Price: <%=product.pricing.discountPrice%></span>
          <span class="savings">You save: <%=product.pricing.basePrice-product.pricing.discountPrice%></span>
        </div>
        <div class="product-features">
          <div><i class="fa-solid fa-rotate"></i>7 Days Replacement</div>
          <div><i class="fa-solid fa-truck"></i>Free Delivery</div>
          <div><i class="fa-solid fa-trophy"></i>Top Brand</div>
          <div><i class="fa-solid fa-trophy"></i>1 Year Warranty</div>
          <div><i class="fa-solid fa-lock"></i>Secure Transaction</div>
        </div>
        <div class="product-about">
          <h3>About This Item</h3>
          <ul>
            <%for(let description of product.details.description){%>
            <li><%=description%></li>
            <%}%>
          </ul>
        </div>
        <table>
          <tr><td><strong>Brand</strong></td><td>Logitech</td></tr>
          <tr><td><strong>Colour</strong></td><td>Colt Glossy</td></tr>
          <tr><td><strong>Connector Type</strong></td><td>Wireless</td></tr>
          <tr>
            <td><strong>Movement Detection<br>Technology</strong></td>
            <td>Optical</td>
          </tr>
          <tr><td><strong>Material</strong></td><td>Rubber</td></tr>
          <tr><td><strong>Wireless Type</strong></td><td>802.11a</td></tr>
        </table>
      </div>
    </section>

  <script src="/js/product.js"></script>
  </body>

